name: terraform-plan

on: pull_request

env:
  TF_VERSION: 0.14.11

jobs:
  terraform-plan:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
      - name: Generate tfvars Path
        id: tfvars
        run: echo "::set-output name=tfvars_file::tfvars/test.tfvars"

      - name: Checkout
        uses: actions/checkout@1.0.0

      - name: Setup AWS credentials
        run: |
          mkdir -p .aws

          echo "[staging]" > .aws/credentials
          echo "aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}" >> .aws/credentials
          echo "aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> .aws/credentials

      - name: Terraform Format
        uses: terraform-github-actions@0.8.0
        with:
          tf_actions_version: ${{ env.TF_VERSION }}
          tf_actions_subcommand: fmt
